/* Global */
body {
    background-color: #FB6B6B;
}

.master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.startbutton {
    
}

/* Tela inicial */